#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hideItem {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 0.45rem;
}

.successBgColor {
  background-color: #1863E5;
  color: white;
}

.upload-page-title {
  font-family: 'Inter Tight', sans-serif;
}

